.contenedor-botones {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-top: 15px;
    
} 

.boton {
    width: 354.69px;
    height: 43.07px;
    color: white;
    font-weight: 700;
    font-size: 16px;
    border:none;
    background: linear-gradient(271.15deg, #140FFF 7.64%, #4C92FB 90.68%), #EE5757;
    backdrop-filter: blur(1.43578px);
    border-radius: 8.6147px;
    cursor: pointer;
    
}
