.contenedor-login {
  margin-right: 250px;
  display: flex;
  flex-direction: column ;
  border: cyan;
  width: 250px;
  height: 300px;
  /* justify-content: left;
  align-items:first baseline; */
  padding-top: 12px;
  position: fixed;
  right: 1px;
}

.iniciar-sesion {
  color: rgba(14, 74, 103, 1);
  font-weight: 700;
  font-size: 26px;
  padding-bottom: 15px;
}
.login-registrar {
  padding-left: 14px;
  font-size: 11px;
  color: #37677E;
}
.registrar-alterno {
  color:rgb(22, 18, 255);
  font-size: 10px;
  opacity: 70%;
  font-weight: 400;
  cursor: pointer;
}
.login-titulo {
  padding-bottom:25px;
}
.forgot {
  padding: 15px;
  color: rgba(32, 113, 152, 1);
  font-weight: 400;
  font-size: 11.5px;
}

.sesion-btn {
  width: 354.69px;
  height: 43.07px;
  color: white;
  font-weight: 700;
  font-size: 16px;
  border:none;
  background: linear-gradient(271.15deg, #140FFF 7.64%, #4C92FB 90.68%), #EE5757!important;
  backdrop-filter: blur(1.43578px);
  border-radius: 8.6147px;
  cursor: pointer;
  transition: 0.5s ease;
}

.sesion-btn:hover {
  scale: 1.02;
  opacity: 90%;
}

@media (max-width: 700px) {
  .contenedor-login{
    margin-left: 50px;
    scale: 1.3  ;
  }
}
