.fade-enter, .fade-appear {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 600ms linear 400ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 400ms linear;
}


.crunch-enter, .crunch-appear {
  height: 0%;
}

.crunch-enter-active {
  height: 100%;
  transition: all 600ms ease-out 400ms;
}

.crunch-exit {
  height: 100%;
}

.crunch-exit-active {
  height: 0%;
  transition: all 400ms ease-in
}